original/data/*.csv
original/plots/*.png
custom_trial_pull_parfait/*.csv
custom_trial_pull_parfait/*.png
custom_trial_lucas_sample/*.csv
custom_trial_lucas_sample/*.png
custom_trial_chemise_brute/*.csv
custom_trial_chemise_brute/*.png
*.p